# OneDrive / Microsoft Graph configuration
ONEDRIVE_CLIENT_ID=
ONEDRIVE_CLIENT_SECRET=
ONEDRIVE_TENANT_ID=consumers

# Example variables when using OneDrive or local sources
# SRC_FOLDER can be either a local path or a OneDrive path like `onedrive:/Documents/Books`
SRC_FOLDER=onedrive:/Documents/Books
OUT_FOLDER=dist

